.table td,
.table th {
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn {
  margin-top: 2px;
  margin-bottom: 2px;
}

.edit-input {
	margin-top: 10px;
	margin-right: 20px;
}

.edit-form {
	text-align: center;
}