<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Số nhân viên hiện có ({{staffs.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default" *ngIf="!isEditing">
        <tr>
          <th>Ảnh đại diện</th>
          <th>Họ</th>
          <th>Tên</th>
          <th>Giới tính</th>
          <th>Ngày sinh</th>
          <th>Tên đăng nhập</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody *ngIf="staffs.length === 0">
        <tr>
          <td colspan="7">Không có dữ liệu. Vui lòng nhập mới.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let staff of staffs">
          <td>
            <img [src]="'/api/image/' + staff.avatar" alt="" style="width:70px">
          </td>
          <td>{{staff.lastname}}</td>
          <td>{{staff.firstname}}</td>
          <td>{{staff.gender}}</td>
          <td>{{staff.birthdate}}</td>
          <td>{{staff.username}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(staff)">
              <i class="fa fa-pencil"></i> Edit</button>
            <input class="inputfile" name="avatar" id="avatar" type="file" accept=".jpg,.png" (change)="changeAvatar($event, staff);">
            <label class="btn btn-sm btn-warning " for="avatar">
              <i class="fa fa-picture-o"></i> Change avatar</label>
            <button *ngIf="!staff.active" class="btn btn-sm btn-primary" (click)="activeStaff(staff)">
              <i class="fa fa-trash"></i> Active</button>
            <button *ngIf="staff.active" class="btn btn-sm btn-danger" (click)="deactiveStaff(staff)">
              <i class="fa fa-trash"></i> Deactive</button>
          </td>
        </tr>
      </tbody>
      <td colspan='7' *ngIf="isEditing">
        <form class="form-inline edit-form" #form="ngForm" (ngSubmit)="updateStaff(staff)" style="display:inline-table; width: 100%">
          <div class="form-group edit-input">
            <label>
              <b>Họ: </b>
            </label>
            <input class="form-control" type="text" name="lastname" [(ngModel)]="staff.lastname" placeholder="Họ" required>
          </div>
          <div class="form-group edit-input">
            <label>
              <b>Tên: </b>
            </label>
            <input class="form-control" type="text" name="firstname" [(ngModel)]="staff.firstname" placeholder="Tên" required>
          </div>
          <div class="form-group edit-input">
            <label>
              <b>Giới tính: </b>
            </label>
            <select class="form-control" name="gender" [(ngModel)]="staff.gender">
              <option value="Nữ">Nữ</option>
              <option value="Nam">Nam</option>
            </select>
          </div>
          <div class="form-group edit-input">
            <label>
              <b>Ngày sinh: </b>
            </label>
            <input class="form-control" type="date" name="birthdate" [value]="staff.birthdate | date:'yyyy-MM-dd'" (input)="staff.birthdate=parseDate($event.target.value)"
            />
          </div>
          <div class="form-group edit-input">
            <label>
              <b>Tên đăng nhập: </b>
            </label>
            <input class="form-control" type="text" name="username" [(ngModel)]="staff.username" placeholder="Tên đăng nhập" required
              disabled>
          </div>
          <br>
          <button class="btn btn-sm btn-primary edit-input" type="submit" [disabled]="!form.form.valid">
            <i class="fa fa-floppy-o"></i> Save</button>
          <button class="btn btn-sm btn-warning edit-input" (click)="cancelEditing()">
            <i class="fa fa-times"></i> Cancel</button>
        </form>
      </td>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Thêm nhân viên mới</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addStaffForm" (ngSubmit)="addStaff()" style="text-align:center">
      <div class="form-group edit-input">
          <b>Họ: </b>
        <input class="form-control" type="text" name="lastname" formControlName="lastname" placeholder="Họ">
      </div>
      <div class="form-group edit-input">
          <b>Tên: </b>
        <input class="form-control" type="text" name="firstname" formControlName="firstname" placeholder="Tên">
      </div>
      <div class="form-group edit-input">
          <b>Giới tính: </b>
        <select class="form-control" name="gender" formControlName="gender">
          <option value="" disabled selected>Giới tính</option>
          <option value="Nu" selected>Nữ</option>
          <option value="Nam">Nam</option>
        </select>
      </div>
      <div class="form-group edit-input">
          <b>Ngày sinh: </b>
            <input class="form-control" type="date" name="birthdate" formControlName="birthdate">
        </div>
      <div class="form-group edit-input">
          <b>Tên đăng nhập: </b>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Tên đăng nhập" min="0" required>
      </div>
      <div class="form-group edit-input">
          <b>Mật khẩu: </b>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Mật khẩu" step="any"
          min="0" required>
      </div>
      <div class="form-group edit-input">
          <b>Nhập lại mật khẩu: </b>
        <input class="form-control" type="password" name="passwordConfirm" formControlName="passwordConfirm" placeholder="Nhập lại mật khẩu"
          step="any" min="0" required>
      </div>
      <br>
      <button class="btn btn-primary  edit-input" type="submit" [disabled]="!addStaffForm.valid">
        <i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>