<div class="container">

    <nav class="navbar navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a routerLink="/home/admin" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
                <i class="fa fa-lock"></i> Admin
            </a>
            <a routerLink="/home/table" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
                <i class="fa fa-list"></i> Bàn ăn
            </a>
            <a routerLink="/home/staff" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
                <i class="fa fa-user"></i> Nhân viên
            </a>
            <a routerLink="/home/category" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
                <i class="fa fa-user"></i> Category
            </a>
            <a routerLink="/home/food" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
                <i class="fa fa-cutlery"></i> Món ăn
            </a>
            <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
                <i class="fa fa-sign-out"></i> Đăng xuất
            </a>
        </div>
    </nav>

    <router-outlet></router-outlet>

</div>